apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mlflow
  namespace: flux-system
spec:
  interval: 10m
  releaseName: mlflow
  targetNamespace: mlflow
  install:
    createNamespace: true
  chart:
    spec:
      chart: mlflow
      sourceRef:
        kind: HelmRepository
        name: community-charts
      interval: 1h
  values:
    replicaCount: 1

    backendStore:
      databaseMigration: true
      databaseConnectionCheck: true
      postgres:
        enabled: true
        host: mlflow-postgres-rw.data-storage.svc.cluster.local
        port: 5432
        database: mlflowdb
        user: mlflow

    artifactRoot:
      s3:
        enabled: true
        bucket: mlflow-artifacts
        existingSecret:
          name: mlflow-s3
          keyOfAccessKeyId: AWS_ACCESS_KEY_ID
          keyOfSecretAccessKey: AWS_SECRET_ACCESS_KEY
            
    extraEnvVars:
      - name: MLFLOW_S3_ENDPOINT_URL
        value: "http://minio.data-storage.svc.cluster.local:9000"
      - name: MLFLOW_S3_IGNORE_TLS
        value: "true"
      - name: AWS_DEFAULT_REGION
        value: "us-east-1"
      - name: PGPASSWORD
        valueFrom:
          secretKeyRef:
            name: mlflow-postgres-credentials
            key: DB_PASSWORD

    service:
      type: ClusterIP
      port: 80
