apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio
  namespace: flux-system
spec:
  interval: 15m
  targetNamespace: data-storage

  chart:
    spec:
      chart: minio
      sourceRef:
        kind: HelmRepository
        name: bitnami-oci
        namespace: flux-system
      interval: 1h

  install:
    createNamespace: true
  upgrade:
    cleanupOnFail: true

  values:
    mode: standalone

    image:
          tag: "2025.7.23-debian-12"

    console:
      image:
        tag: "2.0.2-debian-12"
        
    auth:
      existingSecret: minio
      rootUserSecretKey: rootUser
      rootPasswordSecretKey: rootPassword

    persistence:
      enabled: true
      storageClass: local-path
      size: 10Gi
      accessModes:
        - ReadWriteOnce

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      hosts:
        - minio.group-jsti.dski23a.timebertt.dev
      tls:
        - secretName: minio-tls-cert
          hosts:
            - minio.group-jsti.dski23a.timebertt.dev

    consoleIngress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      hosts:
        - console-minio.group-jsti.dski23a.timebertt.dev
      tls:
        - secretName: console-minio-tls-cert
          hosts:
            - console-minio.group-jsti.dski23a.timebertt.dev