apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio
  namespace: flux-system
spec:
  interval: 15m
  targetNamespace: data-storage

  chart:
    spec:
      chart: minio
      sourceRef:
        kind: HelmRepository
        name: bitnami-oci
        namespace: flux-system
      interval: 1h

  install:
    createNamespace: true
  upgrade:
    cleanupOnFail: true

  values:

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      hosts:
        - name: minio.group-jsti.dski23a.timebertt.dev
          path: /
          pathType: Prefix
      tls:
        - secretName: minio-tls-cert
          hosts:
            - minio.group-jsti.dski23a.timebertt.dev

    consoleIngress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      hosts:
        - name: console-minio.group-jsti.dski23a.timebertt.dev
          path: /
          pathType: Prefix
      tls:
        - secretName: console-minio-tls-cert
          hosts:
            - console-minio.group-jsti.dski23a.timebertt.dev
