apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
  namespace: flux-system
spec:
  interval: 15m
  releaseName: cloudnative-pg
  targetNamespace: cnpg-system

  chart:
    spec:
      chart: cloudnative-pg
      sourceRef:
        kind: HelmRepository
        name: cnpg
        namespace: flux-system
      interval: 1h

  install:
    createNamespace: true
  upgrade:
    cleanupOnFail: true
