apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
  namespace: argo-workflows
data:
  artifactRepository: |
    s3:
      bucket: argo-artifacts
      endpoint: minio.data-storage.svc.cluster.local:9000
      insecure: true
      accessKeySecret:
        name: argo-artifacts-s3
        key: accesskey
      secretKeySecret:
        name: argo-artifacts-s3
        key: secretkey
      keyFormat: "artifacts/{{workflow.namespace}}/{{workflow.name}}/{{pod.name}}"
  # optional (hilft beim Debugging)
  executor: |
    imagePullPolicy: IfNotPresent
