apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argo-workflows
  namespace: argo-workflows
spec:
  interval: 10m
  releaseName: argo-workflows
  targetNamespace: argo-workflows

  install:
    createNamespace: true

  chart:
    spec:
      chart: argo-workflows
      version: 0.45.7
      sourceRef:
        kind: HelmRepository
        name: argo
      interval: 1h

  values:
    controller:
      # sorgt dafür, dass Workflows auch ohne explizite SA Angabe laufen können
      workflowDefaults:
        spec:
          serviceAccountName: argo-workflow
          archiveLogs: true

      # optional aber empfehlenswert
      metricsConfig:
        enabled: true

    server:
      enabled: true
      secure: false
      serviceType: ClusterIP

      # Für Uni/Lab ok. Für “sauber” später: SSO/OIDC + RBAC.
      extraArgs:
        - --auth-mode=server
